@import "../../../utils/common.scss";
.selectList__body  {
	transition: height .5s ease;
	overflow: hidden;
	border: 1px solid $mainColor;
	border-top: none;
}
.selectList__content {
	border-top: 1px solid $mainColor;
}
.selectList__title {
	cursor: pointer;
	font-weight: 500;
	color: $greyColor;
	padding: .5em 1em;
	border: 1px solid $mainColor;
	border-bottom: none;
	> span {
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			bottom: .3em;
			right: -1em;
			border-left: .4em solid transparent;
			border-right: .4em solid transparent;
			border-top: .8em solid $greyColor;
			transform: rotate(0deg);
			transition: transform .5s ease;
		}
	}
	&._active span::after {
		transform: rotate(180deg);
	}
}

.selectList__link {
	font-weight: 500;
	transition: color .3s ease;
	&:hover {
		color: $goldColor;
	}
}
.selectList__element {
	margin-top: em(20);
	width: max-content;
	&:first-of-type {
		margin-top: 0;
	}
}



.selectList.big {
	.selectList__title {
		border: none;
		cursor: initial;
		padding: 0;
	}
	.selectList__body {
		border: none;
	}
	.selectList__content {
		padding: 0;
		border: none;
		padding-top: em(55);
	}
	.selectList__title span::after {
		display: none;
	}
	.selectList__element {
		margin-top: em(46);
		&:first-of-type {
			margin-top: 0;
		}
	}
	
}