@import '../../utils/common.scss';

.product {
	&__loader-container {
		display: flex;
		justify-content: center;
		margin: toRem(50) 0;
	}
	&__loader {
		font-size: 100px;
		border-color: $mainColor;
	}
	&__navigation {
		background-color: $lightSandColor;
		@include adaptiveValue(
			padding-left,
			100,
			15,
			0,
			$containerWidth,
			$mobileWidth
		);
		@include adaptiveValue(
			padding-top,
			38,
			15,
			0,
			$containerWidth,
			$mobileWidth
		);
		@include adaptiveValue(
			padding-bottom,
			38,
			15,
			0,
			$containerWidth,
			$mobileWidth
		);
	}
}

