@import "../../../utils/common.scss";
.counter {
	border-radius: 10px;
	border: 1px solid black;
	display: inline-grid;
	grid-template-columns: 1fr minmax(em(76), auto) 1fr;

	// .counter__button
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__button {
		display: block;
		padding: em(20) 0;
	}
	&__button_minus {
		padding-left: em(12);
		padding-right: em(6);
	}
	&__button_plus {
		padding-right: em(12);
		padding-left: em(6);
	}

	// .counter__value

	&__value {
	}
}
