@import '../../../utils/common.scss';

.btn {
   font-weight: 600;
   line-height: 150%;
   color: #fff;
   background-color: $goldColor;
   padding: toRem(12) toRem(36);
   transition: all 0.3s;

   @media (any-hover: hover) {
      &:hover {
         color: #000;
      }
   }

   &_white-fill {
      color: $goldColor;
      background-color: #fff;
   }

   &_border {
      background-color: transparent;
      color: $goldColor;
      border: toRem(1) solid $goldColor;

      @media (any-hover: hover){
         &:hover{
            color: #000;
            border: toRem(1) solid #000;
         }
      }
   }
}